/* ContactPage.css */

.contact-container {
  background-color: #f4f4f4;
  padding: 60px 0;
}

.contact-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contact-title {
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-text {
  line-height: 1.6;
  color: #555;
  font-size: 16px;
}

.contact-form {
  display: grid;
  grid-gap: 20px;
}

.form-group {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 18px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #246144;
  color: #fff;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #246143d1;
}

/* Add more styles as needed */
