.bkash-payment-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 5px solid #0e0202;
  border-radius: 5px;
  box-shadow: 10px 10px 12px 10px rgba(12, 7, 7, 0.1);
}

.bkash-payment-title {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.bkash-payment-label {
  display: block;
  margin-bottom: 10px;
  color: #0d0404;
}

.bkash-payment-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.bkash-payment-btn {
  background-color: #e21972;
  color: #fff;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
